#death-clock:before {
  content: none;
}

#death-clock.twitter {
  width: auto !important;
  font-size: 16px;
  margin-top: 8px;
  margin-left: -45px;
}

#death-clock.twitter > .days-until-expiry {
  margin-bottom: 6px;
}