body {
  font: 16px "Roboto", sans-serif; 
  color: rgba(52,56,56,1);
  margin: 0;
  width: 500px;
}

.darkness {
  background: #0C2430;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50vh;
}

.skull-container {
  position: relative;
  top: 65px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(6,57,66,.12);
  margin: 40px;
  padding: 40px;
}

.container button {
  margin-top: 20px;
  font: 14px "Roboto", sans-serif; 
  font-weight: bold;
  padding: 10px;
  border: 1px solid #e9ebeb;
  border-bottom: 1px solid #e1e2e4;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(6,57,66,.12);
}

.container button:hover {
  cursor: pointer;
  background: rgba(6,57,66,.05);
  transition: background 0.2s;
}

blockquote {
  display: flex;
  flex-direction: column;
  margin: 40px;
  color: rgba(52,56,56,0.4);
  font-size: 12px;
}

blockquote .quote {
  text-align: justify;
  font-style: italic;
}

blockquote .quotee {
  width: 100%;
  text-align: right;
}

.date-picker {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  font: 16px "Roboto", sans-serif;
  border-radius: 5px;
  border: 1px solid #0C2430;
  padding: 5px;
}

#death-clock-none {
  font-size: 40px;
  font-weight: 800;
}

#death-clock-none .death-clock {
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  font-size: 10px;
}

.footer a {
  text-decoration: none;
  color: #005F6B;
}

.footer a:hover {
  color: #063942;
}